@model AllCategoriesIndexServiceModel
@{
    ViewData["Title"] = "Home Page";
   
}

<div class="row">
    @foreach (var category in Model.Categories)
    {
        <partial name="_CategoryPartial" model="@category" />
    }
</div>
