@model CategoryViewModel
@{
    ViewBag.Title = "Categories";
}

<div class="row">
    <div class="col-md-1">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/@Url.Content(Model.ImgUrl)" alt="Category Image" />
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
                <a href="#" class="btn btn-warning">Edit</a>
                <a href="#" class="btn btn-danger">Remove</a>
            </div>
        </div>
    </div>
</div>